.git
.idea
.DS_Store
/src/unit_test
/src/Code/*.php
/src/Code/**/*.php
/src/Test/*.php
/src/Test/**/*.php
/data
/src/Saseul/Script/Archive
saseul.log
saseul.log-*
debug.log
debug.log-*
loader.json
saseul.ini
saseul.ini-main
saseul.ini-test